page-addtransaction {

    .main_title{
        .toolbar-title{
            margin-right: 0px !important;
        }
    }

    .type_button{
        border: 1px solid !important;
        border-color: rgba($color: #000, $alpha: 0.4) !important;
        color: white !important;
        background-color: #3e5272 !important;
    }

    .segment-activated{
        background-color: #304059 !important;
    }

    .amount_money{
        height: 25% !important;
        background-color: #3e5272 !important;
    }

    .amount_input{
        height: 30% !important;
        background-color: #004775 !important;
        color: #FFF;
        display: flex;
    }

    .amount{
        width: 80% !important;
        text-align: right;
        margin-top: auto !important;
        margin-bottom: auto !important;
        font-size: 50px !important;
        font-weight: 100;
    }

    .currency{
        width: 20% !important;
        padding-left: 3%;
        text-align: left;
        margin-top: auto !important;
        margin-bottom: auto !important;
        font-size: 20px;
        font-weight: 100;
    }

    .income_options{
        color: #FFF;
        border: 2px solid black;
    }

}

.input_field{
    background-color:rgba(0,0,0,0);
    color: #FFF;
    font-size: 1.2rem;
    border-bottom: #D3475A solid 1px !important;
    min-width: 90% !important;
    max-width: 90% !important;
    padding-left: 5px !important;
    margin-left: auto;
    margin-right: auto;
}

.list-ios > .item-block:first-child {
    border-top: none;
}

.item item-block item-ios item-select{
    min-width: 90% !important;
    max-width: 90% !important;
    padding-left: 5px !important;
    margin-left: auto;
    margin-right: auto;
}

.alert-wrapper .button-inner{
    color: #304059 !important;
}

.question{
    color: white;
}

.transaction_header{
    color: white;
}

.expenses_list{
    margin-top: -20px !important;
}