<ion-header>
  <ion-navbar hideBackButton padding-horizontal	>
    <ion-buttons left>
        <button ion-button icon-only><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <ion-title class="main_title">New Transaction</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="checkmark"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="main_page">
  <!-- Test begins: Here -->
  <div>
    <ion-segment [(ngModel)]="transaction_type">
      <ion-segment-button class="type_button" value="income">
        Income
      </ion-segment-button>
      <ion-segment-button class="type_button" value="expenses">
        Expenses
      </ion-segment-button>
      <ion-segment-button class="type_button" value="transfer">
        Transfer
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="amount_input">
    <ion-input #amount class="amount" type="number" placeholder="0.00"></ion-input>
    <div class="currency"><p>MXN</p></div>
  </div>
  <!-- INCOME -->
  <div [ngSwitch]="transaction_type">
    <ion-list *ngSwitchCase="'income'">
      <div class="income-options">
        <!-- This is to select the account -->
      <ion-item class="input_field">
        <ion-label>SELECT ACCOUNT</ion-label>
        <ion-select [(ngModel)]="id" (ionChange)="getPaymentId(id);">
          <ion-option *ngFor="let method of payment_list" value="{{method.id}}" (ionChange)="getPaymentId(id);">
            <p >{{ method.name }}</p>
          </ion-option>
        </ion-select>
      </ion-item>
      </div>
      <br>
    </ion-list>
    <!-- ICOME END -->
    <!-- EXPENSES -->
    <ion-list *ngSwitchCase="'expenses'">
      <!-- This is fot the name -->
      <ion-item class="input_field">
        <ion-label floating>CONCEPT</ion-label>
        <ion-input type="text" #concept></ion-input>
      </ion-item>
      <br>
      <!-- This is for the category -->
      <ion-item class="input_field">
        <ion-label>SELECT CATEGORY</ion-label>
        <ion-select [(ngModel)]="id" (ionChange)="getCategoryId(id);">
          <ion-option *ngFor="let category of category_list" value="{{category.id}}" (ionChange)="getCategoryId(id);">
            <p >{{ category.name }}</p>
          </ion-option>
        </ion-select>
      </ion-item>
      <br>
      <!-- This is for the payment method -->
      <ion-item class="input_field">
        <ion-label>SELECT PAYMENT</ion-label>
        <ion-select [(ngModel)]="id" (ionChange)="getPaymentId(id);">
          <ion-option *ngFor="let method of payment_list" value="{{method.id}}" (ionChange)="getPaymentId(id);">
            <p >{{ method.name }}</p>
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!-- EXPENSES END -->
    <!-- TRANSFER -->
    <ion-list *ngSwitchCase="'transfer'">
      <div class="selects-container">
        <!-- This is for the source -->
        <ion-item class="source-account">
          <ion-label>SOURCE</ion-label>
          <ion-select [(ngModel)]="id" (ionChange)="getPaymentId(id);">
            <div *ngFor="let method of payment_list">
              <ion-option value="{{method.id}}" (ionChange)="getPaymentId(id);">
                <p>{{ method.name }}</p>
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
        <div class="arrow-container">
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <!-- This is for the destination -->
        <ion-item class="destination-account">
          <ion-label>DESTINATION</ion-label>
          <ion-select [(ngModel)]="id" (ionChange)="getPaymentId(id);">
            <div *ngFor="let method of payment_list">
              <ion-option value="{{method.id}}" (ionChange)="getPaymentId(id);">
                <p>{{ method.name }}</p>
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <div padding>
    <button block ion-button color="hakuna" (click)="addTransaction()">Done</button>
  </div>
</ion-content>