page-register {

}

.main_page{
    background-color: #004775;
}

.toolbar-background {
    background-color: #004775;
}

.toolbar-title{
    color:#318ce7 !important;
}

.list-ios > .item-block:first-child {
    border-top: none;
}

.item item-block item-ios item-select{
    min-width: 90% !important;
    max-width: 90% !important;
    padding-left: 5px !important;
    margin-left: auto;
    margin-right: auto;
}


.toast_style{
    text-align: center;
}

.input_field:focus {
    outline: none;
}

.toolbar{
    text-align: center;
}

.button-inner{
    color: white;
}

.toolbar-title{
    color: white !important;
    margin-right: 50px;
}