page-home {
    ion-label{  
        padding: 0px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

.list-header-md{
    font-weight: bold;
    color: black;
}

.main-toolbar .toolbar-title{
    color: white !important;
    margin-right: 20px;
}

.button-inner{
    color: white;
}

.bar-button-default{
    font-size: 15px;
}

.item-md.item-block .item-inner {
    border-bottom: 0;
}

.product_title{
    font-weight: bold !important;
    margin-top: 2px !important;
    color: #004775 !important;
}

.item-md h2 {
    margin: 2px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.item-md h3{
    font-weight: bold;
}

.item-wrapper{
    overflow-y: visible !important;
}

.item .item-block .item-md{
    overflow-y: visible !important;
}