<ion-header no-border>
  <ion-toolbar class="main-toolbar">
    <button ion-button menuToggle="right" (click)="toogleMenu()"><ion-icon name="menu"></ion-icon></button>
    <ion-title >{{ username }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon class="add-button" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content class="main_content">
    <ion-list-header>
      <h1>Last transactions</h1>
    </ion-list-header>
    <ion-list>
      <div *ngFor="let transaction of transaction_list">
        <ion-item-sliding *ngIf="transaction.type > 1">
          <ion-item>
            <ion-avatar item-start>
              <img src="../assets/imgs/image_{{ payment_list[transaction.paymentId-1].type % 10 }}.png">
            </ion-avatar>
            <h2 class="product_title">Product: {{ transaction.concept }}</h2>
            <h3 class="product_amount">Amount: {{ transaction.amount | currency }}</h3>
            <h4>Datetime: {{ transaction.datetime }}</h4>
          </ion-item>
        </ion-item-sliding>
      </div>
    </ion-list>
    
    <!-- Test -->
    <div padding>
      <ion-segment class="home_segment" [(ngModel)]="type">
        <ion-segment-button value="expenses">
          Expenses
        </ion-segment-button>
        <ion-segment-button value="balance">
          Balance
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div [ngSwitch]="type">
      <div *ngSwitchCase="'expenses'">
        <ion-item >
          <h2 class="total_expenses" >Total: {{ total | currency }}</h2>
        </ion-item>
      </div>
      <div *ngSwitchCase="'balance'">
          <ion-list>
            <ion-item-sliding *ngFor="let method of payment_list" >
              <ion-item>
                <ion-avatar class="payment_methods" item-start>
                  <img src="../assets/imgs/img_{{ method.type % 10 }}.png">
                </ion-avatar>
                <h2 class="product_title">Payment method: {{ method.name }}</h2>
                <h3 class="product_amount">Balance: {{ method.balance | currency }}</h3>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
      </div>
    </div>
</ion-content>
