page-payment {

}

.card_item{
    margin-right: 10px;
    display: inline-block;
}

.list-header-md {
    border-top: none;
}

.description_tag{
    display: inline-block;
    color: black !important;
    font-size: 16px !important;
}